.homePage-main-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width : 100%;
}

.upper-text-container{
    width : 45%;
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.typewriter{
    color : #3F639A;
    font-weight: 700;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cards-container{
    width : 70%;
    height : 37%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    border : 2px solid burlywood;
    width : 30%;
    height : 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 2px 12px 25px -5px #3F639A; 
    box-shadow: 2px 12px 25px -5px #3F639A;
}

.mission-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height : 40%;
}

.mission-text-container{

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mission-text-container{
    background-color: #3F639A;
    width: 100%;
    height: 65%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-text{

    color : #ffffff;
    font-weight: 200;
    font-size: x-large;
    font-family:'Times New Roman', Times, serif;
}
.video-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width : 55%;
    height : 70%;
}
.get-to-know-us-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
}
.get-to-know-us{
    color: burlywood;
    font-size: 22px;
    font-weight: bold;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .homePage-main-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        height : 80%;
        width : 100%;
       
    }

    .upper-text-container{

        display: flex;
        flex-direction: column;
        width : 100%;
        height : 50%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .card{

        height : 50%;
        width : 100%;
        margin: 10px;
        
    }

    .cards-container{

        width : 70%;
        height : 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .video-container{

        width : 68%;
        margin: 20px;
    }
    

}