.footer-main-div{

    background-color: #3F639A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    height : 10%;
    padding-top: 20px;
}

.info-container{
    color: burlywood;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left:20px;
    min-width : 20%;
    padding-bottom: 20px;
}

.copy-right-container{
    color: #ffffff;
    display: flex;
    align-items: center;
    max-width : 25%;
    min-width : 15%;
}

.icons-container{

    max-width : 25%;
    min-width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .footer-main-div{

        height : 20%;
        width : 100%;
    }

    .copy-right-container{

        width : 30%;

    }

    .icons-container{

        width : 21%;
    }

}


