.header-main-div{

    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width : 100%;
    height : 20%;
    border-bottom: 1px solid burlywood;
}
.logo{

    min-width : 40%;
    min-width : 20%;
    height: 95%;
    padding-top: 5px;
    padding-left: 5px;
   
}
.nav-links-container{
 color : #3F639A;
 display: flex;
 min-width : 400px;
 max-height : 100px;
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
 margin: 3%;
 justify-content: space-between;
 text-transform: uppercase;
 align-items: center;
}

.nav-link{
    
    cursor: pointer;
    opacity: 0.75;
    

}
.nav-link:hover{

    color : burlywood;
    border-bottom: 1px solid burlywood;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /*style*/

    .header-main-div{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        height : 35%; 
            
}
.logo-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 80%;
}

.logo{

    width : 35%;
    
}

.nav-links-container{
    color: #3F639A;
    width : 20%;
    height : 0%;
    font-size: 20px;
}
   
    
}